<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boardv5home</title>
</head>
<body>
    <h1>boardv5 Aprogram port8001</h1>
    <form action="http://localhost:8002/boardv5/receive" method="get">
        <input type="hidden" name="username" value="JeongHoon">
        <input type="hidden" name="age" value="30">
        <button type="submit">8002로 이동</button>
    </form>
    <form action="http://localhost:8002/boardv5/receive" method="post">
        <input type="hidden" name="username" value="JeongHoon">
        <input type="hidden" name="age" value="30">
        <button type="submit">8002로 이동</button>
    </form>

</body>
</html>